.container {
	margin: auto;
	padding: 30px;
	color: black;
	background-color: lightgray;
	font-size: 30px;
	font-family: sans-serif;
	width: 750px;
	height: auto;
	border:solid black 8px;
	border-radius: 10px;
	ali
}
.numar {
	margin: 10 20 10 20;
	padding: 20px;
	color: black;
	outline: none;
	border: solid black 5px;
	border-radius: 10px;
	background-color: white;
	font-size: 40px;
	width: 30%;
	height: 40px;
}
#op {
	width: 20%;
	height: 50px;
	margin: 10px;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	outline: none;
	border: solid black 3px;
	border-radius: 5px;
	background-color: white;
	color: black;
}
#btn {
	margin: 10px;
	padding: 10px;
	border:solid 3px grey;
	color: white;
	background-color: red;
	border-radius: 5px;

}
#btn:hover {
	background-color: red;
	border-color: black;
	color: white;


}
#btn:focus {
	background-color: darkred;
	border-color: black;
	color: white;
}